/* Error: Undefined mixin.
 *    ,
 * 40 |           @include fuente(center,100%,26px);
 *    |           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   scss\_main.scss 40:11  @import
 *   scss\estilos.scss 8:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 40 \2502            @include fuente(center,100%,26px);\d\a    \2502            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   scss\\_main.scss 40:11  @import\a   scss\\estilos.scss 8:9  root stylesheet";
}
